<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>{{stylist.getName}}'s Clients</title>
</head>
<body>
    <div class="container">
        <h1>{{stylist.getName}}</h1>
        <hr>
        <a href="/"><button class="btn btn-primary">Home</button></a>
        <h2>Clients:</h2>
        {% for client in clients %}
            <h4>
                - {{client.getName}}
                <a href="/stylist/{{stylist.getId}}/clients/{{client.getId}}/update"><button class="btn btn-warning btn-xs">Edit</button></a>

                <a href="/stylist/{{stylist.getId}}/clients/{{client.getId}}/delete"><button class="btn btn-danger btn-xs">Delete</button></a>
            </h4>
        {% endfor %}
        <a href="/stylist/{{stylist.getId}}/new_client"><button class="btn btn-success btn-sm">Add a Client</button></a>
        <br>
        <form action="/stylist/{{stylist.getId}}/delete_all" method="post">
            <input name="_method" type="hidden" value="delete">

            <button type="submit" class="btn btn-danger btn-sm">Delete all clients</button>
        </form>
    </div>
</body>
</html>
